$nameClolor: #000;
$otherColor: #838383;
$hoverBg: #eef1f6;
$curBg: #eef1f6;
.active-list-item{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #efefef;
    cursor: pointer;
    transition: 300ms;
    &:hover{
      background-color: $hoverBg;
    }
  .active-item-wrap{
    width: 90%;
    height: 2.7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    position: relative; 
    .avatar{
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 50%;
      margin-right: 1rem;
    }
    .info{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 2.7rem;
      width: 60%;
      color: $nameClolor;
      .last-word{
        font-size: 12px;
        color: #838383;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .other{
      height: 2.7rem;
      align-self: flex-end;
      position: absolute;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      time{
        font-size: 10px;
      }
      .unread{
        width: 1.2rem;
        height: 1.2rem;
        display: inline-block;
        border-radius: 50%;
        background-color: #f64c33;
        color: #fff;
        text-align: center;
        line-height: 1.2rem;
        font-size: 10px;
      }
      .unread-hidden{
        display: none;
      }
    }
  }
}
.active-list-item-cur{
  background-color: $curBg;
}