.active-list-item{
    height: 4rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(150,150,150, .1);
    cursor: pointer;
    &:hover{
      background-color:#282240;
    }
  .active-item-wrap{
    width: 94%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    position: relative; 
    .avatar{
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 50%;
      margin-right: 1rem;
    }
    .info{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 2.7rem;
      .last-word{
        font-size: 13px;
        color: #605a75;
      }
    }
    .other{
      height: 100%;
      align-self: flex-end;
      position: absolute;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      time{
        font-size: 10px;
      }
      .unread{
        width: 1.2rem;
        height: 1.2rem;
        display: inline-block;
        border-radius: 50%;
        background-color: #ce47f0;
        color: #fff;
        text-align: center;
        line-height: 1.2rem;
        font-size: 10px;
      }
      .unread-hidden{
        display: none;
      }
    }
  }
}