.alert{
    width: 8rem;
    height: 4.5rem;
    background-color: rgba(150, 150, 150, 0.6);
    position: absolute;
    top: 100px;
    left: 50%;
    right: 50%;
    margin: auto;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    line-height: 4.5rem;
    &::after{
        content: '';
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-top: 1rem solid rgba(150, 150, 150, 0.6);
        display: inline-block;
        position: absolute;
        bottom: -1rem;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}