$alert-color: rgba(150, 150, 150, .8);
$triangle-size: 0.8rem;

.alert{
    width: 8rem;
    height: 4.5rem;
    background-color: $alert-color;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 1rem;
    color: #fff;
    text-align: center;
    line-height: 4.5rem;
    z-index: 100;
    &::after{
        content: '';
        border-left: $triangle-size solid transparent;
        border-right: $triangle-size solid transparent;
        border-top: $triangle-size solid $alert-color;
        display: inline-block;
        position: absolute;
        bottom: -$triangle-size;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}