@import './variable.scss';
.aside-header{
    height: 4rem;
    width: 100%;
    background-color: $mainColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    .avatar{
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        margin: auto 1rem;
        cursor: pointer;
        
    }
    .icon-menu-wrap{
        width: 1.2rem;
        height: 1.2rem;
        float: right;
        margin-right: 2rem;
        cursor: pointer;
        background-size: 100% !important;
    }
}
.menu-list-hidden{
    animation: hiddenList 300ms 1 forwards;
    transform-origin: 0 0;
}
.menu-list-show{
    animation: showList 300ms 1 forwards;
    transform-origin: 0 0;
}


@keyframes showList {
    0%{
        opacity: 0;
        transform: scale(0);        
    }

    100%{
        opacity: 1;
        transform: scale(1);   
        display: inline-block;  
    }
}
@keyframes hiddenList {
    0%{
        opacity: 1;
        transform: scale(1);        
    }

    100%{
        opacity: 0;
        transform: scale(0);
        display: none;     
    }
}