.avatar{
    display: inline-block;
    border-radius: 50%;
    background-size: 100%;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}