@import '../font/font.css';
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
html, body,#root, .App{
    width: 100%;
    height: 100%;
    position: relative;
    // background-color: #473d67;
    color: #666;
    font-family:  '方正幼线简体';
    
}
ul, li{
  list-style: none;
}
input{
  border:none;   
  font-size: 1rem; 
  background-color: transparent;
  &:focus{
     outline: none;
 }
 &::placeholder{
   font-size: 12px;
   font-family:  '方正幼线简体';
 }
}


button{
  background-color:rgba(255,255,255,0);
  border:none;
  outline:none;
  &：focus{
    outline:none;
  }
}

.avatar{
  border-radius: 50%;
  margin-right: 1rem;
  background-size: 100%;
  background-position: center;
}

@media screen and (min-width: 320px) {
  html{
     font-size: 14px !important;
  }
}
@media screen and (min-width: 600px){
  html{
     font-size: 15px !important;
  }
}
@media screen and (min-width: 900px) {
  html{
     font-size: 16px !important;
  }
}
