.expressions{
    width: 100%;
    background-color: #eee;
    transition: 200ms;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0.5rem;
    overflow: hidden;
    .emoji{
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.4rem 0.8rem;
    }
}
.expressions-hidden{
    transform: scaleY(0);
    height: 0px;
}