.expressions{
  width: 95%;
  display: flex;    
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-shrink: 0;
  overflow: hidden;
  margin:1rem auto;
  .emoji{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.4rem 0.8rem;
    flex-shrink: 0;
    }
}