
.index{
    width: 80%;
    max-width: 1300px;
    height: 100%;
    position: relative;
    margin: 0 auto; 
    display: flex;
    justify-content: flex-start; 
    transition: 500ms;
    box-shadow: 1px 1px 9px 1px #666;
    background-color: #383152;
    .nav-bar{
        width: 5.2rem;
        height: 100%;
        background-color: #282240;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        li{
            width: 100%;
            height: 5rem;
            display: inline-block;
            a{
                width: 100%;
                height: 100%;
                display: inline-block;
                background-size: 40%;
            }
            .active{
                background-color: #383152 !important;
            }
        }
        #chat{
            background: url('../img/msg.png') no-repeat center;
            background-size: 40%;
        }
        #group{
            background: url('../img/group.png') no-repeat center;
            background-size: 40%;
        }
        #set{
            background: url('../img/set.png') no-repeat center;
            background-size: 40%;
        }
    }
  }