.input-form{
    position: absolute;
    width: 20rem;
    height: 12.36rem;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #848484;
    .close{
        position: absolute;
        top: 10px;
        right: 10px;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background: url('../img/close2.png') no-repeat;
        background-size: 100%;
        cursor: pointer;
    }
    input{
        width: 80%;
        height: 2.1rem;
        border: 1px solid #e0e0e0;
        border-radius: 1rem;
        margin: 1.5rem auto;
    }
    button{
        width: 80%;
        height: 2.1rem;
        border-radius: 1rem;
        background: linear-gradient(to right, #be71a9, #3f5fc2);
        color: #fff;
        cursor: pointer;
    }
    animation: showform 400ms 1 forwards;
}
.input-form-hidden{
    display: none;
}


@keyframes showform {
    0%{
        opacity: 0;
        transform: scale(0.3);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }

}
