.add-chat{
    background-color: #fff;
  .results-wrap{
    flex-grow: 1;
    width: 100%;
    overflow-x: hidden; 
    display: flex;
    justify-content: center;   
    .none{
      align-self: center;
      color: #929fa6;
    }
    .results{
      width: 100%;
      margin-top: 0;
      overflow-y: auto;
    }   
    .item-wrap{     
      height: 4rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #efefef;
      cursor: pointer;
      transition: 300ms;
      &:hover{
        background-color: #eef1f6;
      }
      .item{
        width: 94%;
        height: 2.7rem;
        display: flex;
        .avatar{
          margin-right: 1.5rem;
          margin-left: 0.2rem;
        }
        .info{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .nickname{
            color: #000;
          }
          .other{
            font-size: 12px;
          }
        }
      }
    }
  }
}