.chat{
    flex-grow: 1;
    max-width: 1300px;
    height: 100%;
    position: relative;
    margin: 0 auto; 
    display: flex;
    justify-content: flex-start; 
    transition: 500ms;
    .aside{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: 500ms;
    }
    .room{
        width: 70%;
        height: 100%;
        float: right;
        transition: 500ms;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .room-hidden{
      visibility: hidden;
    }
  }
  
  @media screen and (max-width: 1050px) {
    .index{
      width: 100%;
    }
  }

  
  @media screen and (max-width: 650px) {
    .aside{
      display: none !important;
    }
  }

  
@media screen and (max-width: 650px) {
    .room{
      width: 100% !important;
    }
  }