$roomBg: #fbfbfb;

.layout{
    flex-grow: 1;
    max-width: 1300px;
    height: 100%;
    position: relative;
    margin: 0 auto; 
    display: flex;
    justify-content: flex-start; 
    transition: 500ms;
    position: relative;
    width: 85%;
    box-shadow: 1px 1px 9px 1px #666;
    overflow-x: hidden;
    .aside{
        width: 35.2%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: 500ms;
    }
    .room{
        width: 64.8%;
        height: 100%;
        float: right;
        transition: 500ms;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        background-color: $roomBg;
    }
    .room-hidden{
      visibility: hidden;
    }
  }
  
  @media screen and (max-width: 1050px) {
    .layout{
      width: 100%;
    }
  } 
  @media screen and (max-width: 650px) {
    .aside{
      width: 100%;
      position: absolute;
      left: -100%;
    }
    .room{
      width: 100% !important;
    }
  }