// .left-panel-wrap{
//     width: 100%;
//     height: 100%;
//     background-color: red;
// }
@import './variable.scss';

.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 250ms ease-in;
  }

.left-panel-wrap{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f8f8f8;
  .panel-wrap{
    position: relative;
    flex-flow: 1;
    z-index: 20;
    width: 100%;
    overflow: auto;
    .panel-wrap-slide{      
      width: 100%;
    }
  }
}
