@import './variable.scss';
.left-panel-wrap{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f8f8f8;
  .panel-wrap{
    position: relative;
    flex-flow: 1;
    z-index: 20;
    width: 100%;
    overflow: auto;
    .panel-wrap-slide{      
      width: 100%;
    }
  }
}
