@import './variable.scss';

$msgBgColor: #fff;
$msgColor: #000;
$msgBgColorSelf: $mainColor;
$msgColorSelf: #fff;
$otherColor: #838383;

.room-msg-item{
    width: 90%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
  .avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.8rem;
    flex-shrink: 0;
  }
  .msg{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 100%;
      .top{
          color: $otherColor;
          font-size: 12px;
          margin-bottom: 0.4rem;
          display: flex;
          time{
             visibility: hidden;
             margin-left: 0.4rem;
          }
      } 
      .message{
          display: flex;
        .isSending{
            order: 1;
            align-self: flex-end;
            img{
              width: 1.5rem;
              height: 1.5rem;
            }
        }
        .content{
            border-radius: 8px;
            background: $msgBgColor;
            color: $msgColor;
            position: relative;
            padding:  0.6rem 0.8rem;
            box-shadow: 0 1px 1px #ccc;
            max-width: 100%;
        }
      }      
  } 
  &:hover .top time{
    visibility: visible;
  }
}
 
.room-msg-item-other .content{
    @include triangle (0.8rem, 10deg, left, 0.5rem, $msgBgColor)
}
.room-msg-item-self{ 
    justify-content: flex-end;
    align-self: flex-end;    
    .avatar{
        order: 2;
        margin: auto 0 auto 0.8rem;
    }
    .msg{
        align-items: flex-end;
        .top{
            justify-content: flex-end;
            .sender{
                order: 2;
                margin-left: 0.4rem;
            }
            .time{
                order: 1;
            }
        } 
        .message{
            .isSending{
                order: 1 !important;
            }
            .content{ 
                background-color: $msgBgColorSelf;
                color: $msgColorSelf;      
                @include triangle(0.8rem, -10deg, right, 0.5rem, $msgBgColorSelf);
            }
        }
          
    }  
}


