@import './variable.scss';
.modify-info{
  .avatar-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input[type=radio]{
    margin-right: 2rem;
    margin-left: 8px;
  }
}