.room-footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  .footer-wrap{
    height: 2rem;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    input{
      width: 60%;
      border-radius: 2px;
      padding-left: 5px;
      background-color: #fff;
      &::placeholder{
        font-size: 13px;
      }
    }
    .tool{
      height: 1.6rem;
      width: 1.6rem;
      
      margin: auto 2rem;
      cursor: pointer;
    }
    #emoji{
      background: url('../img/emoji.png') no-repeat;
      background-size: 100%;
    }
    #send{
      background: url('../img/send.png') no-repeat;
      background-size: 100%;
    }
  }
}
