.room-header{
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-shrink: 0;
  .room-header-wrap{
    width: 95%;
    display: flex;
    justify-content: space-between; 
    #close{
      width: 1.5rem;
      height: 1.5rem;
      background-image: url('../img/close.png');
      background-size: 100%;
      cursor: pointer;
    } 
    #sendTo{
      width: 1.7rem;
      height: 1.7rem;
      background-image: url('../img/user.png');
      background-size: 100%;
      cursor: pointer;
    } 
  }
}
.room-header-hidden{
  visibility: hidden;
}