@mixin triangle ($size, $rotate, $direction, $top, $color) {
    &::after{
        content: '';
        position: absolute;
        border-top: $size solid $color;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        transform: rotate($rotate);
        #{$direction}: -$size+0.2rem; 
        top: $top;
    }
}
$msgBgColor: #fff;
$msgColor: #000;
$msgBgColorSelf: #5db0b2;
$msgColorSelf: #fff;
$otherColor: #838383;

.room-msg-item{
    width: 70%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
  .avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.6rem;
  }
  .msg{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .top{
          color: $otherColor;
          font-size: 12px;
          margin-bottom: 0.4rem;
          display: flex;
          time{
             visibility: hidden;
             margin-left: 0.4rem;
          }
      }    
      .content{
          border-radius: 8px;
          background-color: $msgBgColor;
          color: $msgColor;
          position: relative;
          padding:  0.6rem 0.8rem;
          border: 1px solid rgba(240, 240, 240, .6);
         
      }
  } 
  &:hover .top time{
    visibility: visible;
  }
}
 
.room-msg-item-other .content{
    @include triangle (0.7rem, 10deg, left, 0.5rem, $msgBgColor)
}
.room-msg-item-self{ 
    justify-content: flex-end;
    align-self: flex-end;    
    .avatar{
        order: 2;
        margin: auto 0 auto 0.6rem;
    }
    .msg{
        align-items: flex-end;
        .top{
            justify-content: flex-end;
            .sender{
                order: 2;
                margin-left: 0.4rem;
            }
            .time{
                order: 1;
            }
        } 
        .content{ 
            background-color: $msgBgColorSelf;
            color: $msgColorSelf;      
            @include triangle(0.7rem, -10deg, right, 0.5rem, $msgBgColorSelf);
        }  
    }  
}


