@import './variable.scss';
.room-header{
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-shrink: 0;
  background-color: $mainColor; 
  .room-header-wrap{
    width: 95%;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    position: relative;
    .close{
      width: 15px;
      height: 15px;
      margin-right: 1rem;
      background: url('../img/menu3.png');
      background-size: 100%;
    }
    .avatar{
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 50%;
      margin-right: 1rem;
      border: 2px solid #fff;
    }
    .nickname{
      font-size: 0.9rem;
      font-weight: bold;
    }   
    .target{
      right: 0px;
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 4rem;
      .members{
        background: url('../img/group.png');
        width: 16px;
        height: 16px;
        background-position: center;
        background-size: cover;
        display: inline-block;
      }
    } 
  }
}
.room-header-hidden{
  visibility: hidden;
}