.room-footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: column;
  .footer-wrap{
    height: 2rem;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    margin: 1rem 1.5rem;
    input{
      width: 60%;
      border-radius: 2px;
      border: 1px solid #ececec;
      padding-left: 5px;
      background-color: #fff;
      &::placeholder{
        font-size: 13px;
      }
    }
    .tool{
      height: 1.6rem;
      width: 1.6rem;
      
      margin: auto 1.2rem;
      cursor: pointer;
    }
    #emoji{
      background: url('../img/emoji.png') no-repeat;
      background-size: 100%;
    }
    #send{
      background: url('../img/send.png') no-repeat;
      background-size: 100%;
    }
    #more{
      background: url('../img/more.png') no-repeat;
      background-size: 100%;
    }
  }
  .more{
    height: 7rem;
    width: 100%;
    background-color: #eee;
    justify-content: flex-start;   
    transition: 200ms;
    .button-item{
      width: 2.5rem;
      height: 2.5rem;
      margin: 0.6rem 1.5rem;      
      display: inline-block;
      position: relative;
      background-color: red;
      &:hover{
        opacity: 0.8;
      }
      input{
        height: 100%;
        width: 100%;
        display: inline-block;
        opacity: 0;
        z-index: 2;
        position: absolute;
      }
    }
    #button-file{
      background: url('../img/file.png') no-repeat;
      background-size: 100%;
    }
  }
  .more-hidden{
    transform: scaleY(0);
    height: 0px;
  }
}

