.sign{
  width: 310px;
  display: flex;
  position: relative;
  margin: auto;
  top: 180px;
  display: flex;
  flex-direction: column;
  .sign-link{
    color: #888;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
    a{
      display: inline-block;
      padding: 0 1.6rem 0.4rem  0.5rem;
      border-bottom: 2px solid transparent;
    }
    .active-link{
      color: #e45955;
      border-bottom: 2px solid #e45955;      
    }
  }
  button{
    padding: 7px 1rem;
    border-radius: 20px;
    border: 2px solid #e45955;
    color: #e45955;
    float: right;
    margin-right: 10%;
    &:hover{
      cursor:pointer;
    }
  }
}
@media screen and (max-width: 450px) {
  .sign{
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
  }
}


