@mixin triangle ($size, $rotate, $direction, $top, $color) {
    &::after{
        content: '';
        position: absolute;
        border-top: $size solid $color;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        transform: rotate($rotate);
        #{$direction}: -$size+0.2rem; 
        top: $top;
    }
}
@mixin triangle-msg ($size, $rotate, $direction, $top, $color) {
    &::after{
        content: '';
        position: absolute;
        border: $size solid transparent;
        border-top-color: $color;
        border-left-color: $color;
        transform: rotate($rotate);
        #{$direction}: -$size; 
        top: $top;
    }
}
$roomBgColor: #eef1f6;
// $mainColor: #7dcfcb;
$mainColor: #e8bbc5;
// $mainColor: #c20c0c;
$mainColor: #abcbf6;
// $mainColor: #a0dfa7;

